<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <title>Portfólio - Eduardo Ribeiro</title>
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <link rel="stylesheet" href="/css/projetos.css">

</head>

<body>
    <header class="navbar">
        <div class="navbar-container">
            <h1 class="logo">Portifólio</h1>
            <nav class="nav-links">
                <a href="/adm/projetos">Projetos</a>
                <a onclick="window.location.href='/logout'">Logout</a>
            </nav>
        </div>
    </header>
    <main>