<%- include('partials/header') %>

<h2>Projetos Acadêmicos</h2>

<section>
    <h3>Desafio-Universidade-Unes</h3>
    <p>Site sobre a universidade fictícia Unes, onde foram implementados os conceitos de responsividade, o framework Bootstrap e uma base de dados SQL.</p>
    <div class="tech-stack">
        <span class="tech-tag.python">Python</span>
        <span class="tech-tag.flask">Flask</span>
        <span class="tech-tag.mysql">MySQL</span>
        <span class="tech-tag.html">HTML</span>
        <span class="tech-tag.css">CSS</span>
    </div>
    <a href="https://github.com/eduardo-Rib/Desafio-Universidade-Unes" target="_blank" class="github-btn">Ver no GitHub</a>
</section>

<section>
    <h3>APIHorus</h3>
    <p>Site educativo sobre Scrum, com avaliações e quizzes.</p>
    <div class="tech-stack">
        <span class="tech-tag.python">Python</span>
        <span class="tech-tag.flask">Flask</span>
        <span class="tech-tag.mysql">MySQL</span>
        <span class="tech-tag.js">JavaScript</span>
        <span class="tech-tag.html">HTML</span>
        <span class="tech-tag.css">CSS</span>
    </div>
    <a href="https://github.com/m-germano/projetoAPI-horus" target="_blank" class="github-btn">Ver no GitHub</a>
</section>

<section>
    <h3>testeOllama</h3>
    <p>Protótipo de extração de dados de RG via IA.</p>
    <div class="tech-stack">
        <span class="tech-tag.java">Java</span>
        <span class="tech-tag">Ollama</span>
        <span class="tech-tag">MiniCPM-V</span>
        <span class="tech-tag.mysql">MySQL</span>
    </div>
    <a href="https://github.com/eduardo-Rib/testeOllama" target="_blank" class="github-btn">Ver no GitHub</a>
</section>

<section>
    <h3>IdScan</h3>
    <p>Projeto de extração de dados de RG via IA.</p>
    <div class="tech-stack">
        <span class="tech-tag.java">Java</span>
        <span class="tech-tag">Java Effects</span>
        <span class="tech-tag">Ollama</span>
        <span class="tech-tag">Gemma:2b</span>
        <span class="tech-tag">Tesseract</span>
        <span class="tech-tag.mysql">MySQL</span>
    </div>
    <a href="https://github.com/eduardo-Rib/testeOllama" target="_blank" class="github-btn">Ver no GitHub</a>
</section>

<section>
    <h3>InsightFlow</h3>
    <p>Limpa e analisa dados de importação/exportação do Brasil, com gráficos dinâmicos.</p>
    <div class="tech-stack">
        <span class="tech-tag.python">Python</span>
        <span class="tech-tag.flask">Flask</span>
        <span class="tech-tag">Pandas</span>
        <span class="tech-tag">Mathplot</span>
        <span class="tech-tag.ts">TypeScript</span>
        <span class="tech-tag.js">JavaScript</span>
        <span class="tech-tag.node">Node</span>
        <span class="tech-tag">PostgreSQL</span>
    </div>
    <a href="https://github.com/Titus-System/InsightFlow" target="_blank" class="github-btn">Ver no GitHub</a>
</section>

<%- include('partials/footer') %>